[user]
	name = Pandoks_
	email = 35944715+Pandoks@users.noreply.github.com
[core]
	editor = nvim
  pager = delta
	excludesfile = /Users/pandoks_/.gitignore
[init]
	defaultBranch = master
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[merge]
  conflictstyle = zdiff3
[pager]
	branch = false
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  line-numbers = true
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[alias]
  s = status
  a = add -A
	co = checkout
  cm = commit -am
  br = branch
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\"
  cob = checkout -b
  del = branch -D
  res = !git clean -df && git reset --hard
  dig = clean -Xfd
